<h2>Visit Information</h2>
<p>
  <strong>Pet:</strong>
  <%= link_to @visit.pet.name, pet_path(@visit.pet) %>
</p>
<p>
  <strong>Owner:</strong>
  <%= link_to "#{@visit.pet.owner.first_name} #{@visit.pet.owner.last_name}", owner_path(@visit.pet.owner) %>
</p>
<p>
  <strong>Animal:</strong>
  <%= @visit.pet.animal.name %>
</p>
<p>
  <strong>Visit Date:</strong>
  <%= @visit.date.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Weight:</strong>
  <%= @visit.weight %> lbs.
</p>

<p>

</p>
<p class="supertiny">&nbsp;</p>
<p>
  <%= link_to "Edit", edit_visit_path(@visit) %> |
  <%= link_to "Destroy", @visit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", visits_path %>
</p>


      <td width="300">
        <div id="notes">
        <% for note in @notes %>
          <div class="note">
            <strong><%= note.title %></strong><br>
            <%= note.content %><br>  
            by <strong><%= note.user.proper_name %></strong>
            <em>on <%= note.date.strftime('%b %d, %Y') %></em>
          </div>
        <% end %>
        </div>      
      </td>


      <p class="supertiny">&nbsp;</p>
      <h3>Add a Note</h3><br/>

        <%= simple_form_for [@notable, Note.new], :html => { :class => 'form-horizontal' } do |f| %>
          <fieldset>

          <%= f.input :title %>

            <%= f.input :content, :input_html => { :rows => 4 } %>

          <%= f.hidden_field :user_id, :value => current_user.id %> 
          <%= f.hidden_field :date, :value => Date.today %> 
            
            <div class="form-actions">
              <%= f.submit nil, :class => 'btn btn-primary' %>
              <%= link_to 'Cancel', home_path, :class => 'btn' %>
            </div>

          </fieldset>
        <% end %>